<!DOCTYPE html>
<html>
    <head>
        <title>Portfólio</title>
    </head>
    <body>
        <h1>Isso é um título</h1>
        <p>Isso é um parágrafo</p>
        <img scr="html.png" alt="Logo do HTML 5">
    </body>
</html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
</html>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
body {
  background-color: blue;
  color: green;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body{
    background-color: black;
    color: white;
}
<h1>Formação de <span>Front-end</span></h1>
h1{
            font-weight: bold;
}
 
span{
            color: #22D4FD;
            border: 1px solid #22D4FD;
            padding: 10px;
}
